# Archivos y directorios generados automáticamente
/node_modules/
/vendor/
/.idea/
/.vscode/

# Archivos permitidos
!/**/*.htaccess


# Archivos de compilación y dependencias
*.log
*.sqlite
*.swp
.DS_Store
Thumbs.db

# Ignorar todos los archivos .env, excepto .env.example
.env*
!.env.example

# Archivos de respaldo y temporales
*~
*.bak
*.backup
*.tmp
*.tmp.*
*.swp
*.ignore

# Otros archivos y directorios específicos del proyecto
dist/
build/
coverage/
.cache/

# Archivos ignorados específicamente
/.htaccess
/.wakatime-project
*.code-workspace

#archivos temporales
*.tmp
*.bak
*.new