<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
    Header set Access-Control-Allow-Headers "Authorization, Content-Type"
    Header set Access-Control-Allow-Methods "GET, POST"
</IfModule>

RewriteEngine On
RewriteBase /

<Files .env>
    Order allow,deny
    Deny from all
</Files>

# Devolver un código de respuesta 404 para cualquier intento de acceso directo al archivo .env
RewriteRule ^\.env$ - [R=404,L]

# Sets the HTTP_AUTHORIZATION header removed by Apache
RewriteCond %{HTTP:Authorization} .+
RewriteRule ^ - [E=HTTP_AUTHORIZATION:%0]


# Redireccionar cualquier otra solicitud a index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* index.php [QSA,L]